<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Detail Page </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar">
      <div class="container">
        <a href="/" class="navbar-brand">SG Backend RPL</a>
      </div>
    </div>

    <div class="album text-muted">
      <div class="container">

        <div class="row" style="margin: 0 auto;">
          <div class="card" style="margin: 0 auto;">
            <img class="img-fluid" src="{{ item.image }}" alt="heroes">
            <p class="card-text">
              {{ item.description }}
            </p>
             <a href="/" class="btn btn-heroes">Kembali</a>
          </div>
        </div>

      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>